/*=============================================*/
/*=============================================*/
/*=============================================*/
/*this style sheet is made a less css preprocessor*/
/*this style sheet is made a less css preprocessor*/
/*=============================================*/
/*=============================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
input,
button {
  outline: 0 none;
}
html,
body {
  font-size: 16px;
  font-family: 'Nanum Gothic', sans-serif;
  overflow-x: hidden;
}
@media (max-width:1200px) and (min-width:992px) {
  html,
  body {
    overflow-x: hidden;
  }
}
@media (max-width:991px) and (min-width:778px) {
  html,
  body {
    font-size: 16px;
  }
}
@media (max-width:777px) {
  html,
  body {
    min-width: 340px;
    font-size: 12px;
    overflow-x: hidden;
  }
}
ul.main_bg {
  width: 100%;
  height: 100vh;
  position: absolute;
}
ul.main_bg li {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
ul.main_bg li.bg1 {
  background-image: url(../img/main_bg1.jpg);
}
@media (max-width:777px) {
  ul.main_bg li.bg1 {
    display: none;
  }
}
ul.main_bg li.bg2 {
  background-image: url(../img/main_bg2.jpg);
}
ul.main_bg li.bg3 {
  background-image: url(../img/main_bg3.jpg);
}
div.ham_btn {
  position: absolute;
  width: 130px;
  height: 140px;
  right: 15px;
  top: 10px;
  display: none;
  z-index: 999;
}
@media (max-width:777px) {
  div.ham_btn {
    display: block;
  }
}
div.ham_btn div {
  width: 100%;
  height: 5px;
  margin-top: 5px;
  background: white;
  border-radius: 5px;
  cursor: pointer;
}
div.mobile_menu {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: black;
  right: -95%;
  display: none;
}
@media (max-width:777px) {
  div.mobile_menu {
    display: block;
  }
}
section.main_section {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
}
header {
  width: 100%;
  height: 140px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
}
@media (max-width:777px) {
  header {
    height: 100px;
  }
}
header div.header_wrap {
  max-width: 1200px;
  height: 100%;
  margin: 0px auto;
}
header div.header_wrap > div {
  width: 100%;
  height: 50%;
  padding-top: 20px;
  box-sizing: border-box;
}
header div.header_wrap > div h1 {
  width: 15%;
  height: 60%;
  margin-left: 5%;
  display: inline-block;
  float: left;
  background-image: url(../img/mylogo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  padding-left: 30px;
}
@media (max-width:1200px) and (min-width:992px) {
  header div.header_wrap > div h1 {
    width: 20%;
    margin-left: 3%;
  }
}
@media (max-width:991px) and (min-width:778px) {
  header div.header_wrap > div h1 {
    width: 20%;
    margin-left: 0%;
  }
}
@media (max-width:777px) {
  header div.header_wrap > div h1 {
    width: 100%;
    height: 80%;
    margin: 0px auto;
    text-align: center;
    background-size: 30%;
  }
}
header div.header_wrap > div div.top_input {
  width: 25%;
  height: 60%;
  float: left;
}
@media (max-width:1200px) and (min-width:992px) {
  header div.header_wrap > div div.top_input {
    width: 30%;
  }
}
@media (max-width:991px) and (min-width:778px) {
  header div.header_wrap > div div.top_input {
    width: 30%;
  }
}
@media (max-width:777px) {
  header div.header_wrap > div div.top_input {
    display: none;
  }
}
header div.header_wrap > div div.top_input div {
  width: 10%;
  height: 100%;
  float: left;
  text-align: center;
  line-height: 40px;
  background-color: rgba(255, 255, 255, 0.7);
}
header div.header_wrap > div div.top_input input {
  width: 90%;
  height: 100%;
  float: left;
  border: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 3px;
  box-sizing: border-box;
}
header div.header_wrap > div .top_li {
  width: 35%;
  height: 60%;
  float: right;
  line-height: 30px;
  padding-left: 100px;
  box-sizing: border-box;
}
@media (max-width:1200px) and (min-width:992px) {
  header div.header_wrap > div .top_li {
    padding-left: 0px;
  }
}
@media (max-width:991px) and (min-width:778px) {
  header div.header_wrap > div .top_li {
    padding-left: 0px;
  }
}
@media (max-width:777px) {
  header div.header_wrap > div .top_li {
    display: none;
  }
}
header div.header_wrap > div .top_li li {
  font-size: 0.75rem;
  display: inline;
  font-weight: 300;
  margin-right: 35px;
}
header div.header_wrap > div .top_li li a {
  color: white;
}
header div.header_wrap div.header_bottom_content ul.nav {
  width: 40%;
  padding-left: 30px;
  text-align: center;
  float: left;
}
@media (max-width:1200px) and (min-width:992px) {
  header div.header_wrap div.header_bottom_content ul.nav {
    width: 50%;
  }
}
@media (max-width:991px) and (min-width:778px) {
  header div.header_wrap div.header_bottom_content ul.nav {
    width: 50%;
  }
}
@media (max-width:777px) {
  header div.header_wrap div.header_bottom_content ul.nav {
    width: 100%;
    margin-top: 5px;
    font-size: 1.1rem;
    padding: 0px;
  }
}
header div.header_wrap div.header_bottom_content ul.nav li {
  display: inline;
  font-weight: bold;
  margin-right: 20px;
}
header div.header_wrap div.header_bottom_content ul.nav li a {
  font-size: 0.9rem;
  color: white;
}
header div.header_wrap div.header_bottom_content div.favor {
  width: 20%;
  height: 15px;
  float: right;
  overflow: hidden;
}
@media (max-width:991px) and (min-width:778px) {
  header div.header_wrap div.header_bottom_content div.favor {
    height: 12px;
  }
}
@media (max-width:777px) {
  header div.header_wrap div.header_bottom_content div.favor {
    display: none;
  }
}
header div.header_wrap div.header_bottom_content div.favor div {
  width: 40%;
  float: left;
  font-weight: bold;
  color: white;
  font-size: 0.8rem;
}
header div.header_wrap div.header_bottom_content div.favor ul {
  width: 40%;
  float: left;
  list-style-type: none;
  font-weight: bold;
  color: white;
  font-size: 0.8rem;
  position: relative;
}
header div.header_wrap div.header_bottom_content div.favor ul li {
  height: 20px;
}
header.page_header {
  height: 150px;
  border: 0px;
  position: inherit;
}
header.page_header a {
  color: #424242 !important;
}
header.page_header .header_wrap {
  height: 65%;
}
header.page_header h1.page1_logo {
  width: 23%;
  height: 35px;
  margin-top: 5px;
  background-image: url(../img/Colorlogo.png);
}
@media (max-width:1200px) and (min-width:992px) {
  header.page_header h1.page1_logo {
    width: 23%;
    margin-left: 3%;
  }
}
@media (max-width:991px) and (min-width:778px) {
  header.page_header h1.page1_logo {
    width: 23%;
    margin-left: 0%;
  }
}
@media (max-width:777px) {
  header.page_header h1.page1_logo {
    width: 100%;
    height: 50px;
    margin: 0px auto;
    background-size: 40%;
  }
}
header.page_header div.page1_top_input {
  height: 30px!important;
  margin: 10px;
}
@media (max-width:1200px) and (min-width:992px) {
  header.page_header div.page1_top_input {
    width: 30%;
  }
}
@media (max-width:991px) and (min-width:778px) {
  header.page_header div.page1_top_input {
    width: 30%;
  }
}
@media (max-width:777px) {
  header.page_header div.page1_top_input {
    display: none;
  }
}
header.page_header div.page1_top_input div {
  width: 10%;
  height: 100%;
  float: left;
  text-align: center;
  line-height: 40px;
  background-color: rgba(0, 0, 0, 0.2) !important;
}
header.page_header div.page1_top_input input {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
header.page_header div.page1_top_input input::placeholder {
  color: white;
}
header.page_header div.page1_top_input input:-ms-input-placeholder {
  color: white;
}
header.page_header ul.top_li {
  margin-top: 10px;
}
header.page_header div.header_bottom_content {
  height: 35%;
  width: 100%!important;
  background-color: white;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
header.page_header div.header_bottom_content ul.page_nav {
  max-width: 1200px;
  margin: 0px auto;
  line-height: 50px;
  padding-left: 20px;
}
@media (max-width:777px) {
  header.page_header div.header_bottom_content ul.page_nav {
    text-align: center;
    padding-left: 0px;
  }
}
header.page_header div.header_bottom_content ul.page_nav li {
  font-size: 0.9rem;
  height: 50px;
  display: inline-block;
  margin: 0px 15px 0px 15px;
  box-sizing: border-box !important;
  text-align: center;
}
@media (max-width:777px) {
  header.page_header div.header_bottom_content ul.page_nav li {
    font-size: 1.1rem;
    margin: 0px 10px 0px 10px;
  }
}
header.page_header div.header_bottom_content ul.page_nav li:hover {
  border-bottom: 5px solid rgba(129, 218, 245, 0.4);
}
header.page_header div.header_bottom_content .page1_nav li:nth-child(1) {
  border-bottom: 5px solid #81DAF5;
}
header.page_header div.header_bottom_content .page2_nav li:nth-child(2) {
  border-bottom: 5px solid #81DAF5;
}
header.page_header div.header_bottom_content .page3_nav li:nth-child(3) {
  border-bottom: 5px solid #81DAF5;
}
header.page_header div.header_bottom_content .page4_nav li:nth-child(4) {
  border-bottom: 5px solid #81DAF5;
}
/*===================intro page main container
    /*===================intro page main container
    /*===================intro page main container
    intro page main container====================*/
div.main_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
div.main_container h2 {
  text-align: center;
  color: white;
  font-size: 1.8rem;
}
div.main_container h2 span {
  color: tomato;
}
div.main_container div.main_input {
  width: 400px;
  height: 40px;
  margin: 20px auto;
}
@media (max-width:777px) {
  div.main_container div.main_input {
    width: 250px;
  }
}
div.main_container div.main_input div {
  width: 10%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  float: left;
  text-align: center;
}
div.main_container div.main_input div img {
  margin-top: 8px;
}
div.main_container div.main_input input {
  width: 90%;
  height: 100%;
  border: 0px;
  float: left;
  background-color: rgba(255, 255, 255, 0.7);
}
/*=================page1_container
    =================================*/
/*=================page1_container
    =================================*/
/*=================page1_container
    =================================*/
div.page1_container {
  width: 100%;
  height: 100%;
}
div.page1_container div.banner {
  width: 100%;
  height: 350px;
  background: #81DAF5;
  overflow: hidden;
}
div.page1_container div.banner ul#sliders {
  width: 300%;
  height: 100%;
  position: relative;
}
div.page1_container div.banner ul#sliders li.slide {
  display: inline-block;
  width: 33.33%;
  height: 100%;
  float: left;
}
div.page1_container div.banner ul#sliders li.slide:nth-child(1) {
  background: url(../img/page1_bannerimg1.jpg);
  background-position: center;
}
@media (max-width:777px) {
  div.page1_container div.banner ul#sliders li.slide:nth-child(1) {
    background-position: 43% 50%;
  }
}
div.page1_container div.banner ul#sliders li.slide:nth-child(1) div.text_area {
  width: 400px;
  height: 150px;
  position: relative;
  left: 50%;
  top: 20%;
  font-family: 'Roboto', sans-serif;
}
@media (max-width:777px) {
  div.page1_container div.banner ul#sliders li.slide:nth-child(1) div.text_area {
    left: 45%;
    top: 45%;
  }
}
div.page1_container div.banner ul#sliders li.slide:nth-child(1) div.text_area p.event {
  color: #4571ff;
  font-weight: bold;
  font-size: 1rem;
}
div.page1_container div.banner ul#sliders li.slide:nth-child(1) div.text_area h1 {
  color: white;
  font-size: 2.02rem;
}
div.page1_container div.banner ul#sliders li.slide:nth-child(1) div.text_area p {
  color: black;
  font-weight: bold;
  font-size: 0.8rem;
}
div.page1_container div.banner ul#sliders li.slide:nth-child(1) div.text_area div.banner1_btn {
  width: 90px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  background-color: #4571ff;
  margin-top: 20px;
}
div.page1_container div.banner ul#sliders li.slide:nth-child(1) div.text_area div.banner1_btn a {
  color: white;
  font-size: 0.9rem;
}
div.page1_container div.banner ul#sliders li.slide:nth-child(2) {
  background: url(../img/page1_bannerimg2.jpg);
  background-position: 50% 47%;
}
div.page1_container div.banner ul#sliders li.slide:nth-child(3) {
  background: tomato;
}
div.page1_container div.banner ul#slider_nav {
  position: absolute;
  height: 40px;
  top: 450px;
  left: 20%;
  padding-bottom: 20px;
}
@media (max-width:777px) {
  div.page1_container div.banner ul#slider_nav {
    left: 5%;
  }
}
div.page1_container div.banner ul#slider_nav li {
  width: 65px;
  height: 7px;
  display: block;
  background-color: white;
  float: left;
  margin-right: 5px;
  margin-top: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
@media (max-width:777px) {
  div.page1_container div.banner ul#slider_nav li {
    width: 40px;
  }
}
div.page1_container div.banner ul#slider_nav li:nth-child(1) {
  background-color: #81DAF5;
}
div.page1_container div.banner ul#slider_nav li:nth-child(4) {
  width: 13px;
  height: 13px;
  margin-top: 12px;
  background-color: rgba(0, 0, 0, 0) !important;
  background-image: url(../img/stop_btn.png);
}
div.page1_container div.banner ul#slider_nav li:nth-child(5) {
  width: 13px;
  height: 13px;
  margin-top: 12px;
  background-color: rgba(0, 0, 0, 0) !important;
  background-image: url(../img/play_btn.png);
  display: none;
}
div.page1_container div.main_content {
  width: 100%;
  height: 100%;
}
div.page1_container div.main_content section {
  height: 100%;
  margin: 30px auto;
}
div.page1_container div.main_content section.section1 {
  max-width: 1200px;
  margin-top: 80px;
  overflow: hidden;
}
div.page1_container div.main_content section.section1 h1 {
  font-size: 1.2rem;
  text-align: left;
  margin: 0px auto;
  padding-bottom: 7px;
  padding-left: 20px;
}
div.page1_container div.main_content section.section1 div.thumnails {
  width: 100%;
  margin: 20px auto;
  overflow: hidden;
}
div.page1_container div.main_content section.section1 div.thumnails div.thum {
  width: 30%;
  height: 315px;
  margin: 1.666%;
  box-sizing: border-box;
  float: left;
}
@media (max-width:991px) and (min-width:778px) {
  div.page1_container div.main_content section.section1 div.thumnails div.thum {
    height: 370px;
  }
}
@media (max-width:777px) {
  div.page1_container div.main_content section.section1 div.thumnails div.thum {
    width: 90%;
    float: none;
    margin: 20px auto;
  }
}
div.page1_container div.main_content section.section1 div.thumnails div.thum div.thum_pictures {
  width: 100%;
  height: 215px;
  background-repeat: no-repeat;
}
div.page1_container div.main_content section.section1 div.thumnails div.thum div.thum_picture1 {
  background-image: url(../img/thum_pic1.jpg);
  background-position: bottom;
  background-size: 100% 100%;
}
div.page1_container div.main_content section.section1 div.thumnails div.thum div.thum_picture2 {
  background-image: url(../img/thum_pic2.jpg);
  background-position: 50% 40%;
}
div.page1_container div.main_content section.section1 div.thumnails div.thum div.thum_picture3 {
  background-image: url(../img/thum_pic3.jpg);
  background-position: 50% 35%;
  background-size: cover;
}
@media (max-width:777px) {
  div.page1_container div.main_content section.section1 div.thumnails div.thum:nth-child(2),
  div.page1_container div.main_content section.section1 div.thumnails div.thum:nth-child(3) {
    display: none;
  }
}
div.page1_container div.main_content section.section1 div.thumnails div.thum div.thum_text h2 {
  padding: 10px;
  font-weight: normal;
  font-size: 1.2rem;
  font-weight: bold;
}
div.page1_container div.main_content section.section1 div.thumnails div.thum div.thum_text h2 a {
  color: black;
}
div.page1_container div.main_content section.section1 div.thumnails div.thum div.thum_text h2 a:hover {
  color: #81DAF5;
  text-decoration: underline;
}
div.page1_container div.main_content section.section1 div.thumnails div.thum div.thum_text p {
  font-size: 1rem;
  padding-left: 10px;
  color: gray;
}
div.page1_container div.main_content section.section1 div.thumnails div.more_thum,
div.page1_container div.main_content section.section1 div.thumnails div.hide_thum {
  width: 80%;
  height: 50px;
  background-color: #81DAF5;
  color: white;
  box-sizing: border-box;
  margin: 0px auto;
  display: none;
  text-align: center;
  font-size: 1.4rem;
  border-radius: 10px;
  border: 1px solid #52ccf1;
  line-height: 50px;
}
@media (max-width:777px) {
  div.page1_container div.main_content section.section1 div.thumnails div.more_thum {
    display: block;
  }
}
@media (max-width:777px) {
  div.page1_container div.main_content section.section1 div.thumnails div.hide_thum {
    display: none;
  }
}
div.page1_container div.main_content section.section2 {
  max-width: 1200px;
  min-width: 340px;
}
@media (max-width:991px) and (min-width:778px) {
  div.page1_container div.main_content section.section2 {
    justify-content: space-around;
  }
}
@media (max-width:777px) {
  div.page1_container div.main_content section.section2 {
    width: 90%;
  }
}
div.page1_container div.main_content section.section2 h1 {
  height: 50px;
  font-size: 1.2rem;
  text-align: left;
  margin: 0px auto;
  padding-left: 20px;
}
div.page1_container div.main_content section.section2 div.miny_thums {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px auto;
  -ms-overflow-style: none;
}
@media (max-width:991px) and (min-width:778px) {
  div.page1_container div.main_content section.section2 div.miny_thums {
    justify-content: space-around;
  }
}
@media (max-width:777px) {
  div.page1_container div.main_content section.section2 div.miny_thums {
    width: 100%;
  }
}
div.page1_container div.main_content section.section2 div.miny_thums > div {
  width: 15%;
  height: 300px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width:991px) and (min-width:778px) {
  div.page1_container div.main_content section.section2 div.miny_thums > div {
    width: 28%;
    height: 200px;
    margin: 10px;
  }
}
@media (max-width:777px) {
  div.page1_container div.main_content section.section2 div.miny_thums > div {
    width: 30%;
    height: 250px;
  }
}
div.page1_container div.main_content section.section2 div.miny_thums > div a {
  color: white;
}
div.page1_container div.main_content section.section2 div.miny_thums > div a > div {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
div.page1_container div.main_content section.section2 div.miny_thums > div a > div h2 {
  font-size: 1rem;
  font-weight: 500;
}
div.page1_container div.main_content section.section2 div.miny_thums > div a > div p {
  color: lightgray;
  font-size: 0.8rem;
  margin-top: 10px;
}
div.page1_container div.main_content section.section2 div.miny_thums > div:hover .miny_thum_cover {
  display: block;
}
div.page1_container div.main_content section.section2 div.miny_thums > div:nth-child(1) {
  background-image: url(../img/miny_thum1.jpg);
  background-position: center;
}
div.page1_container div.main_content section.section2 div.miny_thums > div:nth-child(2) {
  background-image: url(../img/miny_thum2.jpg);
  background-position: center;
}
div.page1_container div.main_content section.section2 div.miny_thums > div:nth-child(3) {
  background-image: url(../img/miny_thum3.jpg);
  background-position: 40%;
}
div.page1_container div.main_content section.section2 div.miny_thums > div:nth-child(4) {
  background-image: url(../img/miny_thum4.jpg);
  background-position: 45% 50%;
}
div.page1_container div.main_content section.section2 div.miny_thums > div:nth-child(5) {
  background-image: url(../img/miny_thum5.jpg);
  background-position: 30% 50%;
}
div.page1_container div.main_content section.section2 div.miny_thums > div:nth-child(6) {
  background-image: url(../img/miny_thum6.jpg);
  background-position: center;
}
div.page1_container div.main_content section.section3 {
  max-width: 1200px;
  margin: 100px auto;
  height: 400px;
  overflow: hidden;
}
@media (max-width:991px) and (min-width:778px) {
  div.page1_container div.main_content section.section3 {
    height: 800px;
  }
}
@media (max-width:777px) {
  div.page1_container div.main_content section.section3 {
    height: 750px;
  }
}
div.page1_container div.main_content section.section3 h1 {
  text-align: left;
  font-size: 1.2rem;
  height: 50px;
  padding-left: 20px;
}
div.page1_container div.main_content section.section3 h1 span {
  color: #424242;
  font-size: 0.8rem;
}
div.page1_container div.main_content section.section3 div.rotate_menu {
  position: relative;
  height: 320px;
  width: 100%;
}
div.page1_container div.main_content section.section3 div.rotate_menu div.rotate_btn {
  width: 40px;
  height: 40px;
  margin-top: -30px;
  background-color: #eeeeee;
  opacity: 0.5;
  box-shadow: 0px 0px 3px 2px #424242;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  position: absolute;
  cursor: pointer;
}
@media (max-width:991px) and (min-width:778px) {
  div.page1_container div.main_content section.section3 div.rotate_menu div.rotate_btn {
    display: none;
  }
}
@media (max-width:777px) {
  div.page1_container div.main_content section.section3 div.rotate_menu div.rotate_btn {
    display: none;
  }
}
div.page1_container div.main_content section.section3 div.rotate_menu div.rotate_btn:hover {
  opacity: 0.8;
}
div.page1_container div.main_content section.section3 div.rotate_menu .left_btn {
  background-image: url(../img/left_btn.png);
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 900;
}
div.page1_container div.main_content section.section3 div.rotate_menu .right_btn {
  background-image: url(../img/right_btn.png);
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 900;
}
div.page1_container div.main_content section.section3 div.rotate_menu div.rotate_boxs {
  width: 240%;
  height: 80%;
  position: relative;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
@media (max-width:991px) and (min-width:778px) {
  div.page1_container div.main_content section.section3 div.rotate_menu div.rotate_boxs {
    width: 95%;
    height: 120%;
  }
}
@media (max-width:777px) {
  div.page1_container div.main_content section.section3 div.rotate_menu div.rotate_boxs {
    width: 95%;
  }
}
div.page1_container div.main_content section.section3 div.rotate_menu div.rotate_boxs div.rotate_box {
  width: 350px;
  height: 200px;
  background: tomato;
  border-radius: 10px;
  display: inline-block;
  background-size: 100%;
  overflow: hidden;
  margin: 5px;
  background-size: cover;
}
@media (max-width:777px) {
  div.page1_container div.main_content section.section3 div.rotate_menu div.rotate_boxs div.rotate_box {
    width: 45%;
    height: 180px;
  }
}
div.page1_container div.main_content section.section3 div.rotate_menu div.rotate_boxs div.rotate_box h3 {
  margin-top: 150px;
  height: 10%;
  font-size: 1.1rem;
}
@media (max-width:777px) {
  div.page1_container div.main_content section.section3 div.rotate_menu div.rotate_boxs div.rotate_box h3 {
    margin-top: 130px;
  }
}
div.page1_container div.main_content section.section3 div.rotate_menu div.rotate_boxs div.rotate_box h3 a {
  color: white;
}
div.page1_container div.main_content section.section3 div.rotate_menu div.rotate_boxs div.rotate_box p {
  color: #424242;
  font-size: 0.8rem;
  margin-top: 5px;
}
@media (max-width:777px) {
  div.page1_container div.main_content section.section3 div.rotate_menu div.rotate_boxs div.rotate_box p {
    margin-top: 15px;
  }
}
div.page1_container div.main_content section.section3 div.rotate_menu div.rotate_boxs div.rotate_box:nth-child(1) {
  background-image: url(../img/event_thum1.jpg);
  background-position: 50% 40%;
}
div.page1_container div.main_content section.section3 div.rotate_menu div.rotate_boxs div.rotate_box:nth-child(2) {
  background-image: url(../img/event_thum2.jpg);
  background-position: 50% 40%;
}
div.page1_container div.main_content section.section3 div.rotate_menu div.rotate_boxs div.rotate_box:nth-child(3) {
  background-image: url(../img/event_thum3.jpg);
  background-position: 50% 40%;
}
div.page1_container div.main_content section.section3 div.rotate_menu div.rotate_boxs div.rotate_box:nth-child(4) {
  background-image: url(../img/event_thum4.jpg);
  background-position: 50% 40%;
}
div.page1_container div.main_content section.section3 div.rotate_menu div.rotate_boxs div.rotate_box:nth-child(5) {
  background-image: url(../img/event_thum5.jpg);
  background-position: 50% 40%;
}
div.page1_container div.main_content section.section3 div.rotate_menu div.rotate_boxs div.rotate_box:nth-child(6) {
  background-image: url(../img/event_thum6.jpg);
  background-position: 50% 40%;
}
/*===============page2_container
        ==============================*/
div.page2_container div.page2_main_banner {
  width: 100%;
  height: 250px;
  background-image: url(../img/page2_banner.jpg);
  background-position: 50%;
}
div.page2_container div.page2_main_banner div.page2_banner_cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}
div.page2_container div.page2_main_banner div.page2_banner_cover h2 {
  text-align: center;
  color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
}
div.page2_container div.page2_icon_section {
  max-width: 1200px;
  height: 60px;
  margin: 20px auto;
  box-shadow: 0px 0px 1px 1px lightgray;
}
@media (max-width:1200px) and (min-width:992px) {
  div.page2_container div.page2_icon_section {
    width: 95%;
  }
}
@media (max-width:991px) and (min-width:778px) {
  div.page2_container div.page2_icon_section {
    width: 95%;
    height: 120px;
  }
}
@media (max-width:777px) {
  div.page2_container div.page2_icon_section {
    width: 95%;
    height: 80px;
  }
}
div.page2_container div.page2_icon_section ul {
  width: 90%;
  height: 100%;
  margin: 0px auto;
}
@media (max-width:991px) and (min-width:778px) {
  div.page2_container div.page2_icon_section ul {
    width: 95%;
  }
}
@media (max-width:777px) {
  div.page2_container div.page2_icon_section ul {
    width: 95%;
  }
}
div.page2_container div.page2_icon_section ul li {
  padding: 5px;
  width: 33.33%;
  height: 100%;
  box-sizing: border-box;
  float: left;
  display: inline-block;
  line-height: 20px;
}
div.page2_container div.page2_icon_section ul li div.icon {
  width: 25%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}
@media (max-width:991px) and (min-width:778px) {
  div.page2_container div.page2_icon_section ul li div.icon {
    width: 20%;
  }
}
@media (max-width:777px) {
  div.page2_container div.page2_icon_section ul li div.icon {
    width: 100%;
    background-size: 40%;
  }
}
div.page2_container div.page2_icon_section ul li div.icon .mobile_hide_popup {
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(66, 66, 66, 0.5) !important;
  padding: 5px;
}
div.page2_container div.page2_icon_section ul li div.icon .mobile_hide_popup h3 {
  color: white!important;
  font-weight: normal;
  font-size: 0.7rem;
  text-align: center;
  line-height: 1rem;
}
div.page2_container div.page2_icon_section ul li div.icon .mobile_hide_popup p {
  font-size: 0.6rem;
  text-align: center;
  line-height: 1rem;
  margin-top: 5px;
}
div.page2_container div.page2_icon_section ul li .icon1 {
  background-image: url(../img/world_icon.png);
}
div.page2_container div.page2_icon_section ul li .icon2 {
  background-image: url(../img/customer_icon.png);
}
div.page2_container div.page2_icon_section ul li .icon3 {
  background-image: url(../img/chat_icon.png);
}
div.page2_container div.page2_icon_section ul li h4 {
  float: left;
  font-size: 1.1rem;
}
@media (max-width:991px) and (min-width:778px) {
  div.page2_container div.page2_icon_section ul li h4 {
    font-size: 0.9rem;
    float: right;
    margin-top: 25px;
    margin-right: 3%;
  }
}
@media (max-width:777px) {
  div.page2_container div.page2_icon_section ul li h4 {
    display: none;
  }
}
div.page2_container div.page2_icon_section ul li h4 span {
  color: #424242;
  font-weight: normal;
  font-size: 0.7rem;
}
div.page2_container section.page2_section1 {
  max-width: 1200px;
  margin: 20px auto;
}
div.page2_container section.page2_section1 div.rotate_btn {
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  background-position: center;
  border-radius: 150px;
  position: absolute;
  background-size: 50%;
  background-repeat: no-repeat;
  top: 570px;
  z-index: 900;
  display: none;
}
@media (max-width:777px) {
  div.page2_container section.page2_section1 div.rotate_btn {
    display: block;
  }
}
div.page2_container section.page2_section1 div.page2_left_btn {
  background-image: url(../img/left_btn.png);
  left: 7%;
  transform: translateX(-50%);
}
div.page2_container section.page2_section1 div.page2_right_btn {
  background-image: url(../img/right_btn.png);
  right: 7%;
  transform: translateX(50%);
}
div.page2_container section.page2_section1 h2 {
  font-size: 1.1rem;
  padding-left: 10px;
}
div.page2_container section.page2_section1 div.hot_trips {
  width: 100%;
  height: 80px;
  margin: 10px auto;
  text-align: center;
}
@media (max-width:777px) {
  div.page2_container section.page2_section1 div.hot_trips {
    width: 300%;
  }
}
div.page2_container section.page2_section1 div.hot_trips div.hot_trip {
  width: 10%;
  height: 100%;
  background: gray;
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 5px;
  background-size: cover;
  overflow: hidden;
}
@media (max-width:1200px) and (min-width:992px) {
  div.page2_container section.page2_section1 div.hot_trips div.hot_trip {
    width: 10%;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (max-width:991px) and (min-width:778px) {
  div.page2_container section.page2_section1 div.hot_trips div.hot_trip {
    width: 10%;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (max-width:777px) {
  div.page2_container section.page2_section1 div.hot_trips div.hot_trip {
    width: 10%;
  }
}
div.page2_container section.page2_section1 div.hot_trips div.hot_trip:nth-child(1) {
  background-image: url(../img/page2_miny_thum1.jpg);
}
div.page2_container section.page2_section1 div.hot_trips div.hot_trip:nth-child(2) {
  background-image: url(../img/miny_thum5.jpg);
}
div.page2_container section.page2_section1 div.hot_trips div.hot_trip:nth-child(3) {
  background-image: url(../img/miny_thum6.jpg);
}
div.page2_container section.page2_section1 div.hot_trips div.hot_trip:nth-child(4) {
  background-image: url(../img/miny_thum2.jpg);
}
div.page2_container section.page2_section1 div.hot_trips div.hot_trip:nth-child(5) {
  background-image: url(../img/page2_miny_thum1.jpg);
}
div.page2_container section.page2_section1 div.hot_trips div.hot_trip:nth-child(6) {
  background-image: url(../img/miny_thum5.jpg);
}
div.page2_container section.page2_section1 div.hot_trips div.hot_trip:nth-child(7) {
  background-image: url(../img/miny_thum6.jpg);
}
div.page2_container section.page2_section1 div.hot_trips div.hot_trip:nth-child(8) {
  background-image: url(../img/miny_thum2.jpg);
}
div.page2_container section.page2_section1 div.hot_trips div.hot_trip:nth-child(9) {
  background-image: url(../img/miny_thum1.jpg);
}
div.page2_container section.page2_section1 div.hot_trips div.hot_trip div.hot_trip_cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
}
div.page2_container section.page2_section1 div.hot_trips div.hot_trip div.hot_trip_cover h4 {
  padding-top: 55px;
  font-size: 0.9rem;
  font-weight: normal;
  color: white;
}
div.page2_container div.hot_trip_list {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  height: 40px;
  border: 1px solid lightgray;
  box-shadow: 0px 0px 1px 1px lightgray;
}
@media (max-width:777px) {
  div.page2_container div.hot_trip_list {
    width: 95%;
    margin: 0px auto;
  }
}
div.page2_container div.hot_trip_list ul {
  padding-left: 40px;
  line-height: 40px;
}
div.page2_container div.hot_trip_list ul li {
  display: inline;
  margin-right: 20px;
}
div.page2_container div.hot_trip_list ul li a {
  color: #424242;
  font-size: 0.8rem;
}
div.page2_container div.hot_trip_list ul li a:hover {
  color: #4571ff;
}
div.page2_container section.page2_section2 {
  max-width: 1200px;
  height: 120px;
  margin: 20px auto;
  text-align: center;
  overflow: hidden;
}
div.page2_container section.page2_section2 div.page2_ui {
  width: 200%;
  height: 100%;
  transform: translateX(-25%);
  text-align: center;
}
div.page2_container section.page2_section2 div.page2_ui div.page2_ui_box {
  width: 24.5%;
  height: 100%;
  background: lightblue;
  border-radius: 5px;
  display: inline-block;
}
div.page2_container section.page2_section2 div.page2_ui_controll {
  width: 100px;
  height: 20px;
  border: 1px solid white;
  background: white;
  position: relative;
  left: 50%;
  top: -23px;
  border-radius: 5px;
  transform: translateX(-50%);
}
div.page2_container section.page2_section2 div.page2_ui_controll div.page2_ui_con {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: lightgray;
  border-radius: 100px;
  margin: 5px;
  cursor: pointer;
}
div.page2_container section.page2_section2 div.page2_ui_controll div.page2_ui_con:nth-child(2) {
  background: #424242;
}
/*===============page3_container
        ==========================*/
div.page3_container div.page3_main_banner {
  width: 100%;
  height: 300px;
  background-image: url(../img/page3_main.jpg);
  background-size: cover;
  background-position: 50% 60%;
  padding: 40px;
}
@media (max-width:777px) {
  div.page3_container div.page3_main_banner {
    height: 100vh;
  }
}
div.page3_container div.page3_main_banner div.main_cover {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0px auto;
}
div.page3_container div.page3_main_banner div.main_cover ul.labels {
  padding-left: 70px;
}
@media (max-width:777px) {
  div.page3_container div.page3_main_banner div.main_cover ul.labels {
    padding: 0px;
  }
}
div.page3_container div.page3_main_banner div.main_cover ul.labels li {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-right: 20px;
  border-bottom: 2px solid lightgray;
  color: lightgray;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width:777px) {
  div.page3_container div.page3_main_banner div.main_cover ul.labels li {
    width: 50px;
    margin-right: 10px;
  }
}
div.page3_container div.page3_main_banner div.main_cover ul.labels li:nth-child(1) {
  border-bottom-color: white;
  color: white;
}
div.page3_container div.page3_main_banner div.main_cover ul.labels li:hover {
  border-bottom-color: white;
  color: white;
}
div.page3_container div.page3_main_banner div.main_cover div.inputs {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
}
div.page3_container div.page3_main_banner div.main_cover div.inputs .input {
  width: 30%;
  height: 100%;
  border: none;
  border-radius: 5px;
  padding: 0px;
  display: inline-block;
  background-color: rgba(66, 66, 66, 0.5);
}
@media (max-width:777px) {
  div.page3_container div.page3_main_banner div.main_cover div.inputs .input {
    display: block;
  }
}
div.page3_container div.page3_main_banner div.main_cover div.inputs .input_one {
  width: 35%;
  overflow: hidden;
  line-height: 50px;
  text-align: center;
}
@media (max-width:777px) {
  div.page3_container div.page3_main_banner div.main_cover div.inputs .input_one {
    width: 100%;
    margin: 20px auto;
  }
}
div.page3_container div.page3_main_banner div.main_cover div.inputs .input_one div {
  width: 40%;
  height: 100%;
  background-color: rgba(66, 66, 66, 0);
  display: inline-block;
  overflow: hidden;
}
div.page3_container div.page3_main_banner div.main_cover div.inputs .input_one div input {
  height: 100%;
  border: none;
  background-color: rgba(66, 66, 66, 0);
}
div.page3_container div.page3_main_banner div.main_cover div.inputs .input_one div input::placeholder {
  color: white;
}
div.page3_container div.page3_main_banner div.main_cover div.inputs .input_one div.exchange_btn {
  width: 10%;
  height: 100%;
}
div.page3_container div.page3_main_banner div.main_cover div.inputs .input_one div.exchange_btn button {
  width: 85%;
  height: 100%;
  background-image: url(../img/exchange.png);
  background-size: 60%;
  background-position: center;
  background-color: rgba(66, 66, 66, 0);
  background-repeat: no-repeat;
  border: 0px;
}
div.page3_container div.page3_main_banner div.main_cover div.inputs .input_two {
  width: 35%;
}
@media (max-width:777px) {
  div.page3_container div.page3_main_banner div.main_cover div.inputs .input_two {
    width: 100%;
    margin: 20px auto;
  }
}
div.page3_container div.page3_main_banner div.main_cover div.inputs .input_two .input_two_icons {
  width: 15%;
  height: 100%;
  background-image: url(../img/calendar.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 20px;
  float: left;
}
div.page3_container div.page3_main_banner div.main_cover div.inputs .input_two .input_two_text {
  width: 50%;
  height: 100%;
  font-size: 0.9rem;
  overflow: hidden;
  line-height: 50px;
  color: white;
  text-align: left;
  float: left;
}
div.page3_container div.page3_main_banner div.main_cover div.inputs .input_three {
  width: 20%;
}
@media (max-width:777px) {
  div.page3_container div.page3_main_banner div.main_cover div.inputs .input_three {
    width: 100%;
    margin: 20px auto;
  }
}
div.page3_container div.page3_main_banner div.main_cover div.inputs .input_three .input_three_icons {
  width: 20%;
  height: 100%;
  background-image: url(../img/profile.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 20px;
  float: left;
}
div.page3_container div.page3_main_banner div.main_cover div.inputs .input_three .input_three_text {
  width: 50%;
  height: 100%;
  font-size: 0.9rem;
  overflow: hidden;
  line-height: 50px;
  color: white;
  text-align: left;
  float: left;
}
div.page3_container div.page3_main_banner div.main_cover .inputs_multi {
  margin-top: 10px!important;
}
div.page3_container div.page3_main_banner div.main_cover div.page3_btn {
  margin-top: 20px;
}
div.page3_container div.page3_main_banner div.main_cover div.search_btn {
  width: 15%;
  height: 40px;
  background-color: #81DAF5;
  margin-left: 55px;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  color: white;
  font-weight: bold;
  float: left;
  cursor: pointer;
}
div.page3_container div.page3_main_banner div.main_cover div.search_btn:hover {
  box-shadow: inset 0 0 2px #424242;
  -webkit-box-shadow: inset 0 0 2px #424242;
  -moz-box-shadow: inset 0 0 2px #424242;
}
@media (max-width:777px) {
  div.page3_container div.page3_main_banner div.main_cover div.search_btn {
    width: 40%;
    margin: 0px auto;
    margin-top: 20%;
  }
}
div.page3_container div.page3_main_banner div.main_cover div.plus_btn {
  width: 5%;
  max-width: 50px;
  height: 40px;
  background: #81DAF5;
  margin-left: 10px;
  border-radius: 5px;
  float: left;
  text-align: center;
  line-height: 40px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
footer {
  width: 100%;
  height: 400px;
  background: #424242;
}
footer div.footer_cover {
  max-width: 1200px;
  height: 100%;
  margin: 0px auto;
  padding: 20px;
}
footer div.footer_cover div.footer_list {
  height: 60%;
}
footer div.footer_cover div.footer_list div {
  width: 20%;
  height: 100%;
  float: left;
  box-sizing: border-box;
}
footer div.footer_cover div.footer_list div ul {
  list-style-type: none;
}
footer div.footer_cover div.footer_list div ul h3 {
  color: white;
  font-size: 1rem;
  margin-bottom: 10px;
}
footer div.footer_cover div.footer_list div ul li {
  color: gray;
  font-size: 0.9rem;
  line-height: 25px;
  padding-left: 5px;
  font-weight: bold;
}
footer div.footer_cover div.footer_list div.footer_logo h1 {
  width: 70%;
  height: 30px;
  background-image: url(../img/mylogo.png);
  background-size: cover;
  background-repeat: no-repeat;
}
footer div.footer_cover div.footer_list div.footer_logo p {
  font-size: 0.7rem;
  color: lightgray;
  margin-top: 30px;
  line-height: 15px;
}
#popup_demo {
  max-width: 700px;
  height: 500px;
}
#popup_demo div.picture_area {
  width: 60%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  float: left;
}
#popup_demo div.picture_area div.main_picture {
  width: 90%;
  height: 60%;
  margin: 0px auto;
  background-size: cover;
}
#popup_demo div.picture_area div.sub_pictures {
  width: 90%;
  height: 30%;
  background: lightblue;
  margin: 5% auto;
}
#popup_demo div.text_area {
  width: 40%;
  height: 100%;
  float: right;
  padding: 10px;
  box-sizing: border-box;
}
#popup_demo div.text_area h1 {
  font-size: 1.2rem;
  height: 40px;
  margin: 10px;
  margin-bottom: 0px;
}
#popup_demo div.text_area p {
  font-size: 1rem;
  height: 40px;
  margin-bottom: 20px;
}
#popup_demo div.text_area div.other_trip {
  width: 100%;
  height: 140px;
  margin-top: 30px;
  background: gray;
}
.ajax_class {
  cursor: pointer;
}
